{
  "$schema": "https://json.schemastore.org/eslintrc",
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "settings": {
    "next": {
      "rootDir": ["apps/*/"]
    },
    "tailwindcss": {
      "rootDir": ["apps/*", "packages/*"],
      "callees": ["cn", "classnames", "classNames", "clsx", "ctl", "cva", "tv"]
    }
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    // "react/jsx-closing-bracket-location": ["warn", "props-aligned"],
    "react-hooks/exhaustive-deps": "off",
    "react/prop-types": "off",
    "prettier/prettier": [
      "warn",
      {},
      {
        "usePrettierrc": true,
        "ignoreFiles": ["**/node_modules/**", "**/dist/**", "**/public/**/workbox-*.{js,js.map}"]
      }
    ],
    // next rules
    // next rules
    "@next/next/no-img-element": "off",
    "@next/next/no-html-link-for-pages": "off",
    // typescript rules
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-console": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "all",
        "argsIgnorePattern": "^_",
        "caughtErrors": "all",
        "caughtErrorsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-require-imports": "off",
    "tailwindcss/no-custom-classname": "off",
    "tailwindcss/classnames-order": "off"
    // "tailwindcss/no-contradicting-classname": "off"
  }
}
