{
  "endOfLine": "auto",
  "trailingComma": "none",
  "semi": true,
  "singleQuote": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "useTabs": false,
  "quoteProps": "as-needed",
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 150,
  "tabWidth": 2,
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react(/.*)?$",
    "^next(/.*)?$",
    "^next-themes(/.*)?$",
    "^clsx(/.*)?$",
    "^react-icons(/.*)?$",
    "^react-hook-form(/.*)?$",
    "^firebase(/.*)?$",
    "^motion/react(/.*)?$",
    "^@headlessui(/.*)?$",
    "^@radix-ui(/.*)?$",
    "^match-sorter(/.*)?$",
    "^zustand(/.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^types$",
    "^~local/(.*)$",
    "^([~@]{1,2})/config/(.*)$",
    "^([~@]{1,2})/lib(/.*)?$",
    "^([~@]{1,2})/hooks(/.*)?$",
    "^([~@]{1,2})/components(/.*)?$",
    "^([~@]{1,2})/context(/.*)?$",
    "^([~@]{1,2})/utils(/.*)?$",
    "^([~@]{1,2})/types(/.*)?$",
    "^([~@]{1,2})/styles(/.*)?$",
    "^[./]"
  ],
  "tailwindFunctions": ["cn", "cn", "cn", "clsx", "ctl", "cva", "tv"],
  "tailwindStylesheet": "src/css/main.css",
  "overrides": [
    {
      "files": "Makefile",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
