.DocSearch {
  @apply font-cascadia;
}

.DocSearch--active {
  @apply overflow-hidden!;
}

.DocSearch-Container {
  @apply fixed top-0 left-0 z-200 flex h-screen w-screen cursor-auto flex-col bg-black/20 backdrop-blur-sm md:p-[10vh] lg:p-[12vh] dark:bg-neutral-900/50;
}

.DocSearch-LoadingIndicator svg {
  @apply size-5;

  path {
    @apply stroke-3;
  }
}

.DocSearch-Container--Stalled .DocSearch-LoadingIndicator {
  @apply block;
}

.DocSearch-Modal {
  margin: 0 auto;
  width: 100%;
  max-width: 47.375rem;
  display: flex;
  flex-direction: column;
  min-height: 0;

  @apply bg-neutral-50 shadow-lg md:rounded-lg dark:bg-neutral-900;
}

.DocSearch-SearchBar {
  z-index: 1;
  padding: 0 1rem;
  @apply relative z-1 flex flex-none items-center border-b border-neutral-500/40 dark:border-neutral-400/50;
}

.DocSearch-Form {
  @apply flex min-w-0 flex-auto items-center;
}

.DocSearch-Dropdown-Container {
  @apply pb-6;
}

.DocSearch-Dropdown {
  @apply flex-auto overflow-auto;
}

.DocSearch-Hit--Result {
  @apply relative mx-6;
}

.DocSearch-Hit--Result.DocSearch-Hit--Child {
  @apply ml-12;
}

.DocSearch-Hit--Result.DocSearch-Hit--Child::before {
  content: '';
  position: absolute;
  top: -0.25rem;
  bottom: -0.25rem;
  left: -1rem;
  width: 1px;

  @apply bg-neutral-200 dark:bg-neutral-700;
}

.DocSearch-Hit a {
  @apply relative block px-6 py-4;
}

.DocSearch-Hits {
  @apply bg-neutral-100 dark:bg-neutral-900;
}

.DocSearch-Hit[aria-selected='true'] {
  @apply relative block border-b bg-neutral-200 text-sm dark:bg-neutral-950;
}

.DocSearch-Hit--Result {
  @apply border-b-0!;
}

.DocSearch-MagnifierLabel,
.DocSearch-LoadingIndicator {
  @apply flex size-6 items-center justify-center;
}

.DocSearch-MagnifierLabel svg,
.DocSearch-LoadingIndicator svg {
  @apply text-primary! size-4 stroke-2;
}

.DocSearch-Container--Stalled .DocSearch-MagnifierLabel,
.DocSearch-LoadingIndicator {
  display: none;
}

.DocSearch-Input {
  appearance: none;
  background: transparent;
  height: 3.5rem;
  font-size: 1rem;
  margin-left: 0.75rem;
  margin-right: 1rem;
  flex: auto;
  min-width: 0;

  @apply text-neutral-900 sm:text-sm dark:text-neutral-200;
}

.DocSearch-Input:focus {
  outline: 2px dotted transparent;
}

.DocSearch-Input::-webkit-search-cancel-button,
.DocSearch-Input::-webkit-search-decoration,
.DocSearch-Input::-webkit-search-results-button,
.DocSearch-Input::-webkit-search-results-decoration {
  display: none;
}

.DocSearch-Reset {
  display: none;
}

.DocSearch-Actions {
  @apply flex items-center justify-between gap-1 text-sm;

  .DocSearch-Clear,
  .DocSearch-Close {
    @apply border-primary text-primary h-6 min-w-8 rounded border px-1.5 py-1 shadow-sm;
  }

  .DocSearch-Clear {
    @apply min-w-8 text-xs uppercase;
  }

  .DocSearch-Close {
    svg {
      display: none;
    }

    /* esc */
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.506 6h3.931V4.986H1.736v-1.39h2.488V2.583H1.736V1.196h2.69V.182H.506V6ZM8.56 1.855h1.18C9.721.818 8.87.102 7.574.102c-1.276 0-2.21.705-2.205 1.762-.003.858.602 1.35 1.585 1.585l.634.159c.633.153.986.335.988.727-.002.426-.406.716-1.03.716-.64 0-1.1-.295-1.14-.878h-1.19c.03 1.259.931 1.91 2.343 1.91 1.42 0 2.256-.68 2.259-1.745-.003-.969-.733-1.483-1.744-1.71l-.523-.125c-.506-.117-.93-.304-.92-.722 0-.375.332-.65.934-.65.588 0 .949.267.994.724ZM15.78 2.219C15.618.875 14.6.102 13.254.102c-1.537 0-2.71 1.086-2.71 2.989 0 1.898 1.153 2.989 2.71 2.989 1.492 0 2.392-.992 2.526-2.063l-1.244-.006c-.117.623-.606.98-1.262.98-.883 0-1.483-.656-1.483-1.9 0-1.21.591-1.9 1.492-1.9.673 0 1.159.389 1.253 1.028h1.244Z' fill='%23e63819'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 57.1428571429% auto;

    /* esc */
    /* .dark & {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.506 6h3.931V4.986H1.736v-1.39h2.488V2.583H1.736V1.196h2.69V.182H.506V6ZM8.56 1.855h1.18C9.721.818 8.87.102 7.574.102c-1.276 0-2.21.705-2.205 1.762-.003.858.602 1.35 1.585 1.585l.634.159c.633.153.986.335.988.727-.002.426-.406.716-1.03.716-.64 0-1.1-.295-1.14-.878h-1.19c.03 1.259.931 1.91 2.343 1.91 1.42 0 2.256-.68 2.259-1.745-.003-.969-.733-1.483-1.744-1.71l-.523-.125c-.506-.117-.93-.304-.92-.722 0-.375.332-.65.934-.65.588 0 .949.267.994.724ZM15.78 2.219C15.618.875 14.6.102 13.254.102c-1.537 0-2.71 1.086-2.71 2.989 0 1.898 1.153 2.989 2.71 2.989 1.492 0 2.392-.992 2.526-2.063l-1.244-.006c-.117.623-.606.98-1.262.98-.883 0-1.483-.656-1.483-1.9 0-1.21.591-1.9 1.492-1.9.673 0 1.159.389 1.253 1.028h1.244Z' fill='%23ff8d22'/%3E%3C/svg%3E");
    } */
  }
}

.DocSearch-Reset svg {
  display: none;
}

.DocSearch-Hit-source {
  margin: 0 1.5rem 1rem;

  @apply text-primary pt-10 font-mono leading-6 font-semibold uppercase;
}

.DocSearch-Hits:first-child .DocSearch-Hit-source {
  @apply pt-6;
}

.DocSearch-Hit-Tree {
  @apply hidden;
}

.DocSearch-Hit-Container {
  @apply relative flex items-center gap-4! text-sm;
}

.DocSearch-Hit-icon {
  @apply grid h-7 w-7 place-content-center rounded-sm bg-neutral-200 dark:bg-neutral-700/30;

  svg {
    @apply h-4 w-4 stroke-neutral-700 dark:stroke-white;
  }
}

.DocSearch-Hit--Result .DocSearch-Hit-icon {
  @apply mr-4 block size-6 flex-none rounded-md bg-white shadow-sm ring-1 ring-neutral-900/5 dark:bg-neutral-700 dark:ring-0;

  /* hash icon */
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='%2394A3B8' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
}

.DocSearch-Hit--Parent .DocSearch-Hit-icon {
  /* book icon */
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.5 0c1.093 0 2.117.27 3 .743V10a6.344 6.344 0 0 0-3-.743c-1.093 0-2.617.27-3.5.743V.743C.883.27 2.407 0 3.5 0Z' fill='%23BAE6FD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5 0c1.093 0 2.617.27 3.5.743V10c-.883-.473-2.407-.743-3.5-.743s-2.117.27-3 .743V.743a6.344 6.344 0 0 1 3-.743Z' fill='%2338BDF8'/%3E%3C/svg%3E");
}

.DocSearch-Hit-content-wrapper {
  @apply z-1 flex min-w-0 flex-auto flex-col-reverse;
}

.DocSearch-Hit-path {
  @apply text-primary line-clamp-1 self-start rounded-full bg-[#e6381923] px-4 py-0.5 text-xs leading-6 font-semibold dark:bg-neutral-900;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit--Parent .DocSearch-Hit-icon {
  /* book icon */
  background-image: url("data:image/svg+xml,%3Csvg height='6' width='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.5 0c1.093 0 2.117.27 3 .743V10a6.344 6.344 0 0 0-3-.743c-1.093 0-2.617.27-3.5.743V.743C.883.27 2.407 0 3.5 0Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5 0c1.093 0 2.617.27 3.5.743V10c-.883-.473-2.407-.743-3.5-.743s-2.117.27-3 .743V.743a6.344 6.344 0 0 1 3-.743Z' fill='%23fff'/%3E%3C/svg%3E");

  /* .dark & {
    background-image: url("data:image/svg+xml,%3Csvg height='6' width='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.5 0c1.093 0 2.117.27 3 .743V10a6.344 6.344 0 0 0-3-.743c-1.093 0-2.617.27-3.5.743V.743C.883.27 2.407 0 3.5 0Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5 0c1.093 0 2.617.27 3.5.743V10c-.883-.473-2.407-.743-3.5-.743s-2.117.27-3 .743V.743a6.344 6.344 0 0 1 3-.743Z' fill='%23fff'/%3E%3C/svg%3E");
  } */
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-action svg {
  @apply text-primary! h-5 w-5 stroke-current;
}

.DocSearch-Hit-title {
  @apply truncate text-sm leading-6 text-neutral-700 dark:text-neutral-400;
}

.DocSearch-Hit-title + .DocSearch-Hit-path {
  @apply mb-1;
}

.DocSearch-Hit-action {
  @apply ml-3.5 flex-none;
}

.DocSearch-Hit-action-button {
  @apply flex;
}

.DocSearch-Hit-action + .DocSearch-Hit-action {
  @apply ml-2;
}

.DocSearch-Hit-action path {
  stroke-width: 2px;
  stroke: #71717a;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-action path {
  @apply stroke-primary;
}

.DocSearch-Hit--Result {
  @apply px-4! py-3!;
}

.DocSearch-Hit {
  @apply relative;
}

.DocSearch-Hit:first-child > a {
  @apply border-t border-neutral-100 dark:border-neutral-200/5;
}

.DocSearch-Hit--Result {
  @apply border-t-0!;
}

.DocSearch-Hit + .DocSearch-Hit .DocSearch-Hit--Result {
  @apply mt-2;
}

.DocSearch-Hit--Result {
  @apply rounded-lg bg-neutral-50 dark:bg-neutral-800;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit--Result {
  @apply bg-neutral-400 dark:bg-neutral-700;
}

.DocSearch-Hit--FirstChild::before {
  @apply top-0!;
}

.DocSearch-Hit--LastChild::before {
  @apply bottom-0!;
}

.DocSearch-Hits mark {
  background: none;
  @apply border-primary text-primary border-b-2 font-semibold;
}

.DocSearch-Hit-path mark {
  @apply border-0;
}

.DocSearch-Hit[aria-selected='true'] mark {
  @apply text-primary!;
}

.DocSearch-Footer {
  @apply flex justify-between border-t border-neutral-500/40 px-6 py-4 dark:border-neutral-400/50;
}

.DocSearch-Logo a {
  @apply text-primary! flex items-center text-sm font-medium;
}

.DocSearch-Logo svg {
  @apply ml-3;
}

.DocSearch-Hit--deleting,
.DocSearch-Hit--favoriting {
  opacity: 0;
  transition: all 250ms linear;
}

.DocSearch-NoResults .DocSearch-Screen-Icon {
  @apply hidden;
}

.DocSearch-Title {
  @apply mb-10 text-base leading-6;
}

.DocSearch-Title strong {
  @apply font-normal text-neutral-900 dark:text-neutral-200;
}

.DocSearch-StartScreen .DocSearch-Help {
  @apply px-6 py-16 text-center text-neutral-400;
}

.DocSearch-NoResults {
  @apply px-4 pt-10 pb-8;
}

.DocSearch-NoResults .DocSearch-Title {
  @apply text-center text-neutral-400;
}

.DocSearch-NoResults-Prefill-List .DocSearch-Help {
  @apply mb-3 text-sm leading-6 font-semibold text-[#e0543b];
}

.DocSearch-NoResults-Prefill-List ul {
  @apply overflow-hidden rounded-lg border border-neutral-200 bg-neutral-50 dark:border-neutral-700 dark:bg-neutral-800/30;
}

.DocSearch-NoResults-Prefill-List button {
  @apply block w-full text-left text-sm leading-6 text-neutral-700 dark:text-neutral-400 dark:hover:bg-white/2 dark:hover:text-neutral-200;
  padding: 0.5rem 0.75rem;
  /* chevron right icon */
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='%23475569' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
}

.DocSearch-NoResults-Prefill-List li + li button {
  @apply border-t border-neutral-200 dark:border-neutral-200/5;
}

.DocSearch-NoResults-Prefill-List + .DocSearch-Help {
  @apply mt-3 text-xs leading-6;
}

.DocSearch-Hit[aria-selected='true'] [title='Remove this search from favorites']::before {
  @apply bg-neutral-100 dark:bg-neutral-900;
}

.DocSearch-NoResults-Prefill-List + .DocSearch-Help a {
  @apply font-semibold text-neutral-500 dark:text-neutral-400;
}

.DocSearch-Hit-action [title='Save this search'],
.DocSearch-Hit-action [title='Remove this search from history'],
.DocSearch-Hit-action [title='Remove this search from favorites'] {
  @apply size-6;
}

.DocSearch-Hit-action [title='Save this search'] svg,
.DocSearch-Hit-action [title='Remove this search from history'] svg {
  @apply hidden;
}

.DocSearch-Hit-action [title='Save this search'] {
  /* hollow star */
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' stroke='%23e63819a4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  /* .dark & {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' stroke='%23ff8d22a4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  } */
}

.DocSearch-Hit-action [title='Save this search']:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' stroke='%23e63819' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  /* .dark & {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' stroke='%23ff8d22' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  } */
}

.DocSearch-Hit-action [title='Remove this search from history'] {
  /* x icon */
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='%23e63819a4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  /* .dark & {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='%23ff8d22a4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  } */
}

.DocSearch-Hit-action [title='Remove this search from history']:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='%23e63819' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  /* .dark & {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='%23ff8d22' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  } */
}

.DocSearch-Hit-action + .DocSearch-Hit-action {
  @apply border-primary-200 dark:border-primary-200/5 ml-3 border-l pl-3;
}

.DocSearch-VisuallyHiddenForAccessibility {
  display: none;
}

.DocSearch-Logo a {
  @apply text-primary! flex items-center text-xs font-medium;
}

.DocSearch-Label {
  @apply text-primary! text-sm;
}

.DocSearch-Logo svg {
  @apply ml-2;
}

.DocSearch-Logo svg * {
  @apply fill-primary ml-3;
}

.DocSearch-Commands {
  @apply flex gap-4;
}

.DocSearch-Commands li {
  @apply inline-flex items-center gap-1;

  .DocSearch-Commands-Key,
  .DocSearch-Escape-Key span {
    @apply bg-primary-400/50 rounded px-2 py-1 font-sans text-xs font-semibold dark:bg-neutral-950;

    svg {
      @apply size-3;
    }

    svg g {
      @apply stroke-2!;
    }
  }
}
