@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates&family=Mulish&display=swap');
}
@layer utilities {
  @responsive {
    .scrollbar-hidden {
      scrollbar-width: none;
    }
    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }
    .clipHead {
      clip-path: polygon(100% 0, 100% 97.5%, 50% 100%, 0 97.5%, 0 0);
    }
  }
  .text-stroke {
    text-stroke: 8px transparent;
  }
}
