@import 'tailwindcss/utilities';

@layer utilities {
  .scrollbars-hidden {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;

      @media (min-width: 1024px) {
        display: block;
      }
    }

    @media (min-width: 1024px) {
      scrollbar-width: auto;
    }
  }

  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(to right, #ff8d22, #ff2600);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.25s ease-in-out;

    &:hover {
      background-size: 100% 3px;
      background-position: 0 100%;
    }
  }

  .playlist-card {
    @apply relative overflow-hidden p-0.5 duration-500 [perspective-origin:bottom] [perspective:50px] hover:-skew-x-3 focus:-skew-x-3;

    &:hover::before,
    &:focus::before {
      background-image: conic-gradient(#ff8d22 0deg, #ff2600 0deg, transparent 80deg);

      @apply absolute left-[-25%] top-[-25%] h-[150%] w-[150%] animate-[spin_2s_linear] content-[''];

      & .dark {
        background-image: conic-gradient(#ff2600 0deg, #ff8d22 0deg, transparent 80deg);
      }
    }
  }
}
